/**
 * Copyright © ten24, LLC Inc. All rights reserved.
 * See License.txt for license details.
*/

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body img{display: inherit;}
.singular .entry-header {display: none;}
body .wp-block-group:not(.has-background):not(.alignwide):not(.alignfull) {margin-top: 0;}
#qloader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(238, 238, 238, 0.34901960784313724);
    text-align: center;
    max-width: 100%;
}
#qloader img{
    position: absolute;
    left: 50%;
    top: 50%;
}
body .modal-header .close {
    padding: 0px 7px 7px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
body #staticBackdrop .modal-header .close {
    margin: 9px 8px;
    background: none;
    font-size: 22px;
}
.slatwall-body .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 100%;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   background: rgb(255 255 255 / 0.6);
   width: 100%;
}
.loader i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-circle-o-notch:before, i.fas.fa-print {
    font-family: 'FontAwesome';
    font-style: normal;
}
.list-group a{
    text-decoration: none;
    font-size: 18px;
}
.fa-check-circle{font-size: 20px;}
/* @media (min-width: 768px) { */
html, body {background: #fff !important;/* font-size: 16px !important; */font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;letter-spacing: normal !important;}
/* body a {text-decoration: none; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;} */
body h1, body h2, body h3, body h4, body h5, body h6 {text-transform: capitalize;font-weight: 500; letter-spacing: normal;}
 .btn:focus {
    outline: 0;
    box-shadow: none;
}
body a  {text-decoration: none;}
body .entry-content h1 {
  margin: 0 0 0.9rem;
  font-size: 40px;
  font-weight: 500;
}
body h1, body .heading-size-1 {
  line-height: 1.2;
}
body .entry-content .h6, body .entry-content h6 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-size: 16px;
}
body .entry-content {
  font-size: 16px;
  font-family:inherit;
}
body.slatwall-body .entry-content h2,body.slatwall-body div.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){
        margin: 0 0 20px;
    width: 100%;
}
input#customGiftCard::-webkit-outer-spin-button,
input#customGiftCard::-webkit-inner-spin-button,
input.number-field::-webkit-outer-spin-button,
input.number-field::-webkit-inner-spin-button,
input#quantity::-webkit-outer-spin-button,
input#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]#customGiftCard,input[type=number]#quantity,input[type=number].number-field {
  -moz-appearance: textfield;
}
@media (min-width: 576px){
.slatwall-body .wp-block-group ,.entry-content .container, .entry-content .container-lg, .entry-content .container-md, .container-sm, .container-xl {
    max-width: 540px !important;
    margin: 0 auto !important;
}
}
@media (min-width: 768px){
.slatwall-body .wp-block-group ,.entry-content .container, .entry-content .container-lg, .entry-content .container-md, .container-sm, .container-xl {
    max-width: 720px !important;
    margin: 0 auto !important;
}
}
@media (min-width: 992px){
.slatwall-body .wp-block-group ,.entry-content .container, .entry-content .container-lg, .entry-content .container-md, .container-sm, .container-xl {
    max-width: 960px !important;
    margin: 0 auto !important;
}
}
@media (min-width: 1200px){
.slatwall-body .wp-block-group ,.entry-content .container, .entry-content .container-lg, .entry-content .container-md, .container-sm, .container-xl {
    max-width: 1140px !important;
    margin: 0 auto !important;
}
}
body .alert {
  margin-bottom: 16px;
  padding: 12px 20px;
}
body .entry-content h5 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  text-decoration: none;
}
body .entry-content h5 a {
  color: #007bff;
}
body .entry-content p, body .entry-content ol, body .entry-content ul, body .entry-content dl, body .entry-content dt {
  font-family: inherit;
  letter-spacing: normal;
  line-height: 1.5;
}
body .entry-content h5 a:hover {
  color: #0056b3;
  text-decoration: underline;
}
body .h4, body h4, body .entry-content h4 {
  font-size: 1.6rem;
  margin: 0 0 .5rem;
  line-height: 1.2;
}
.card-body .form-check-label {
    padding-left: 10px;
}
body .btn.btn-link small{
   font-size: 16px;
  line-height: 1.5;
}
i.far.float-right.fa-check-circle {
    font-style: normal;
    font-size: 24px;
}
body .btn.btn-link  {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: capitalize;
  color: #007bff;
  text-decoration: none;
}
body .btn.btn-primary  {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 16px;
  text-transform: capitalize;
  /* font-weight: 300; */
  letter-spacing: normal;
  padding: 6px 12px;
}
body .accordion .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body .accordion .card>.card-header {
  border-radius: 0;
  margin-bottom: -1px;
}
body .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem !important;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body .red_border.form-control{
     border: 1px solid red !important;
}
.selection_limit_area .red_border{
    border: 1px solid red !important;
    padding:5px;
}
body input, body textarea, body button, body .button, body .faux-button, body .faux-button.more-link, body .wp-block-button__link, body .wp-block-file__button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; letter-spacing: normal;}
body input[type="button"], body button:not(.toggle) {
  text-transform: capitalize;
  background: #6c757d;
  font-family: inherit;
  font-size: 16px;
}
body button.show-address-book{
    text-transform: inherit;
  background: inherit;
}
body .btn-lg.btn-block {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}
.small{
  font-size: 16px;
}

body small {
  font-size: 13px;
  font-weight: 400;
}
.entry-content .orderitems .small {
    font-size: 80%!important;
}
body input[type="text"] {
  height: calc(1.5em + .5rem + 2px) !important;
  padding: .25rem .5rem !important;
  font-size: 16px !important;
  line-height: 1.5;
  border-radius: .2rem;
  border-width: 1px;
  letter-spacing: normal;
}
body input[type="button"] {
  padding: .25rem .5rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .2rem;
  border: 1px solid #6c757d;
  font-weight: 400;
  letter-spacing: normal;
}
body .btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
body .form-check {
  position: relative;
  display: block;
  padding-left: 20px;
}
body .form-check-input, body input[type="checkbox"].form-check-input {
  -webkit-appearance: textfield;
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
  width: auto;
  height: auto;
}
body input[type="checkbox"] {
  -webkit-appearance: button;
  -moz-appearance: button;
}
body input[type="checkbox"]:checked::before {
  display: none;
}
body input[type="checkbox"] + label, body label {
  display: inline-block;
}
body .badge {
  font-size: 12px;
}
body .entry-content .pagination li {
  margin: 0;
}
body .btn-primary:hover,body .btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
body .page-link {
  padding: 8px 12px;
}
body label {
  font-size: 16px;
}
body .item-quantity .form-control {
  height: 31px;
  font-size: inherit;
  margin-bottom: 5px;
}
body .item-quantity .cart-update {
  width: 100%;
}
body .order-summary li {
  line-height: 1.5;
}

body .prod-content p span {
  background-color: transparent !important;
  color: #212529 !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 1rem !important;
}
body .entry-content h2, body .entry-content h3 {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.2;
}
body .backtocart {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

body .nav-pills .nav-link a {
  color: #007bff;
}
body .form-control.is-invalid, body .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem) !important;
}
.account_address_item .far.fa-check-circle.float-right::before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 24px;
}

body .order_items_checkout img {
    width: 90px;
    /* height: 90px; */
}

body .card-body .border-bottom.cart-row:last-child {
    border: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0px !important;
}
body p.out_of_stock {
    margin: 0;
    text-align: center;
}
body .myaccount-page h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
}
body table {
    margin-top: 0;
}
body table th, body table td {
    font-size: 1.5rem;
    line-height: 1.5;
}
body table th strong {
    font-weight: bolder;
}
body table td a, .addres-box .card-header a {
  color: #007bff;
}

.card-body .inner {
  max-height: 240px;
  overflow: hidden;
  position: relative;
}
.card-body .inner.more {
  max-height: 100%;
}
.show-more span {display: inline-block;width: 100%;font-size: 16px;}
.show-more {cursor: pointer; font-size: 12px; color: #007bff;}
.show-more:hover {color: #005cbf;}
.show-more .lessbtn, .show-more.Show .morebtn {display: none;}
.show-more.Show .lessbtn {display: block;}
.subscription_checkout_area .step-two .billig-payment-area .nav.nav-tabs{display: block;width: 100%;overflow: hidden;}
.subscription_checkout_area .step-two .billig-payment-area .nav-tabs .nav-link{float: right;}
.subscription_checkout_area .step-two .billig-payment-area .nav-tabs .nav-link.active{float: left;}
.jumbotron.jumbotron-fluid.product-subscription-main-area {padding: 64px 0!important;margin-bottom: 48px!important;}
body .entry-content .product-subscription-main-area h1 {font-size: 56px;font-weight: 400;}
/* } */

@media (max-width: 767px) {
  body .card-footer a.btn {
    font-size: 13px;
  }
  body .entry-content h1 {
    font-size: 2rem;
    width: 100%;
  }
  body .entry-content h2, body .entry-content h3 {
    font-size: 1.5rem;
  }
  body .entry-content h5 {
    font-size: 18px;
  }

}

@media (min-width: 320px) {
  .ui-carousel, .zoomTint {
    width: 96% !important;
    margin: 0 auto;
  }
  .ui-carousel {
    height: 100px !important;
  }
}
.ui-carousel .wrapper {
  text-align: center;
  position: relative;
  z-index: 1;
}
.gallery-viewer img {
  width: 100% !important;
}

.thumb-img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 100px;
    width: 100px;
    z-index: 9;
    position: relative;
}
.nav-arrow {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
}



/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
padding: 0;
margin: 0;
border: 0;
outline: none;
vertical-align: top;
}

.fancybox-wrap {
position: absolute;
top: 0;
left: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
z-index: 8020;
}

.fancybox-skin {
position: relative;
background: #f9f9f9;
color: #444;
text-shadow: none;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.fancybox-opened {
z-index: 8030;
}

.fancybox-opened .fancybox-skin {
-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
position: relative;
}

.fancybox-inner {
overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
-webkit-overflow-scrolling: touch;
}

.fancybox-error {
color: #444;
font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
margin: 0;
padding: 15px;
white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
display: block;
width: 100%;
height: 100%;
}

.fancybox-image {
max-width: 100%;
max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
position: fixed;
top: 50%;
left: 50%;
margin-top: -22px;
margin-left: -22px;
background-position: 0 -108px;
opacity: 0.8;
cursor: pointer;
z-index: 8060;
}

#fancybox-loading div {
width: 44px;
height: 44px;
background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
position: absolute;
top: -18px;
right: -18px;
width: 36px;
height: 36px;
cursor: pointer;
z-index: 8040;
}

.fancybox-nav {
position: absolute;
top: 0;
width: 40%;
height: 100%;
cursor: pointer;
text-decoration: none;
background: transparent url(blank.gif); /* helps IE */
-webkit-tap-highlight-color: rgba(0,0,0,0);
z-index: 8040;
}

.fancybox-prev {
left: 0;
}

.fancybox-next {
right: 0;
}

.fancybox-nav span {
position: absolute;
top: 50%;
width: 36px;
height: 34px;
margin-top: -18px;
cursor: pointer;
z-index: 8040;
visibility: hidden;
}

.fancybox-prev span {
left: 10px;
background-position: 0 -36px;
}

.fancybox-next span {
right: 10px;
background-position: 0 -72px;
}

.fancybox-nav:hover span {
visibility: visible;
}

.fancybox-tmp {
position: absolute;
top: -99999px;
left: -99999px;
max-width: 99999px;
max-height: 99999px;
overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
position: absolute;
top: 0;
left: 0;
overflow: hidden;
display: none;
z-index: 8010;
background: rgba(0,0,0,0.5);
}

.fancybox-overlay-fixed {
position: fixed;
bottom: 0;
right: 0;
}

.fancybox-lock .fancybox-overlay {
overflow: auto;
overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
visibility: hidden;
font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
position: relative;
text-shadow: none;
z-index: 8050;
}

.fancybox-opened .fancybox-title {
visibility: visible;
}

.fancybox-title-float-wrap {
position: absolute;
bottom: 0;
right: 50%;
margin-bottom: -35px;
z-index: 8050;
text-align: center;
}

.fancybox-title-float-wrap .child {
display: inline-block;
margin-right: -100%;
padding: 2px 20px;
background: transparent; /* Fallback for web browsers that doesn't support RGBa */
background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 15px;
   -moz-border-radius: 15px;
        border-radius: 15px;
text-shadow: 0 1px 2px #222;
color: #FFF;
font-weight: bold;
line-height: 24px;
white-space: nowrap;
}

.fancybox-title-outside-wrap {
position: relative;
margin-top: 10px;
color: #fff;
}

.fancybox-title-inside-wrap {
padding-top: 10px;
}

.fancybox-title-over-wrap {
position: absolute;
bottom: 0;
left: 0;
color: #fff;
padding: 10px;
background: #000;
background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
   only screen and (min--moz-device-pixel-ratio: 1.5),
   only screen and (min-device-pixel-ratio: 1.5){

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(https://fancyapps.com/fancybox/source/fancybox_sprite.png);
  background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
}
#fancybox-loading div {
  background-image: url(https://fancyapps.com/fancybox/source/fancybox_loading@2x.gif);
  background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
}
}
.gallery-viewer {
/* margin-top: 30px !important; */
margin-bottom: 0 !important;
}


#mini-cart .dropdown-menu {
    width: 350px;
    transform: translate3d(-255px, 38px, 0px) !important;
}
#mini-cart .dropdown-menu ul {
    width: 100%;
    margin: 0;
}
#mini-cart .dropdown-menu ul li {
    width: 100%;
    margin: 0;
}
#mini-cart .dropdown-menu ul li:not(:first-child) {
    margin: 15px 0 0;
}
#mini-cart .dropdown-menu ul li img {width: 50px;
height: 50px;
margin-right: 1.2rem;
}

#mini-cart .dropdown-menu ul li .media-body span.text-muted {
  margin-right: 1.5rem;
}

#mini-cart .badge {font-size: 12px;position: absolute;top: -5px;transform: translateY(-50%);right: 15px;}
.zoomTint {background-color: transparent !important;}
@media print {
  .accountSidebar, .myaccount_user, .header-footer-group, .printbtn, .header-inner {display: none;}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.bg-light {
    background-color: #f8f9fa!important;
}
  a[href]:after {
    content: none !important;
  }

.order_items_checkout {
    display: block !important;
}
.hideprint{
  display: none;
}

}

.footer-top-visible .footer-nav-widgets-wrapper, .footer-top-hidden #site-footer {margin: 0 !important;}
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull) {margin-bottom: 1.5rem !important;}
.footer-widgets-outer-wrapper {
    padding: 4rem 0 !important;
}
 {}

.slatwall-body #site-header .primary-menu > li > a {
    color: rgba(0,0,0,.5);
    padding-right: .5rem;
    padding-left: .5rem;
    text-decoration: none;
    font-weight: 400;
}

.slatwall-body .my-2.my-lg-0.slatwall-search .form-control {
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.slatwall-body .btn.btn-outline-secondary.my-2.my-sm-0 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
}
@media (min-width: 700px){
  #site-footer {
      padding: 0.3rem 0 !important;
  }
}

div#mini-cart a#dropdownMenuLink {
    width: 75px;
    position: relative;
}


.header-inner .toggle {height: auto !important;}
.gallery-viewer div {
    top: 0;
    opacity: .5;
    background-color: #fff!important;
}


.btn.btn-light.text-secondary.printbtn{
      font-size: 1.5rem;
    line-height: 1.5;
}
.float-right.text-secondary.mini-remove-item {
    font-size: 16px;
}
.card-body small a {
    font-size: 14px;
}
.select_shipping_area .form-check .form-check-label {
    padding-left: 5px;
}
.custom-control-label::before, .custom-control-label::after {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.custom-control.custom-radio .custom-control-label {
    padding-left: 5px;
}
.add-order-payment select, .print.btn.btn-light {
    font-size: 16px;
}
.card-header small a {
    font-size: 16px;
}

.card-header small {
    font-size: 16px;
}
.full-width-section-slatwall {
    margin: 0;
    width: 100% !important;
}

.jumbotron.jumbotron-fluid.full-width-section-slatwall h1 {
    font-size: 54px;
    font-weight: 400;
    line-height: 1.3;
}

.full-width-section-slatwall .lead {
    font-size: 20px;
    line-height: 1.3;
}
.slatwall-product-listing {
    padding: 60px 0;
}
.slatwall-product-listing  .dropdown-menu{
font-size: 16px;
}
.slatwall-taxonomy .post-inner.thin {
    padding: 0;
}
.slatwall-search button {
    color: #fff;
}
.slatwall-search {
    width: 50%;
    min-width: 266px;
}
.prod-content p #defaultSku_price, .form-promotion .btn-secondary.btn-sm {
   font-size:inherit !important;
}
.go-to-cart-btn {
    font-size: inherit;
    margin-top: 10px;
}

body .entry-content .checkoutforms h3,body .entry-content .order_items_checkout h3 {
    font-size: 28px;
}

.address_error .account-address {
    border: 1px solid red;
}
